Listázzuk <span style="color: #a31515;">"laszlo2"</span> vendég gyermek nélküli foglalásainak adatait!

a. Egy új oszlopban jelenítsük meg, hogy a foglalás a nyári szezonban (június, július, augusztus) történt<span style="color: #000000;">-</span>e (Igen<span style="color: #000000;">/</span>Nem).

b. A foglalás dátumánál a METTOL oszlopot vegyük figyelembe

In [8]:
SELECT *,IIF(MONTH(METTOL) IN (6,7,8), 'Igen','Nem') AS 'Nyári_e'
FROM Foglalas
WHERE UGYFEL_FK = 'laszlo2' AND GYERMEK_SZAM=0

FOGLALAS_PK,UGYFEL_FK,SZOBA_FK,METTOL,MEDDIG,FELNOTT_SZAM,GYERMEK_SZAM,Nyári_e
561,laszlo2,42,2016-04-06,2016-04-10,2,0,Nem

Egészítsük ki a megkezdett lekérdezést, amely listázza, hogy szálláshely típusonként, azon belül éves és havi bontában hány foglalás történt! 

 a. Az év és hónap megjelenítésénél a foglalás tábla METTOL oszlopát használjuk! 

 b. A számolásnál csak a legalább 5 napos foglalásokat vegyük figyelembe!

In [ ]:
SELECT szh.TIPUS, YEAR(f.METTOL) AS 'Év', MONTH(f.METTOL) AS 'Hónap', COUNT(*)
FROM Foglalas f JOIN Szoba sz ON f.SZOBA_FK = sz.SZOBA_ID 
                JOIN Szallashely szh ON  sz.SZALLAS_FK=szh.SZALLAS_ID
WHERE DAY(f.MEDDIG)-DAY(f.METTOL) >=5 
GROUP BY szh.TIPUS,YEAR(f.METTOL), MONTH(f.METTOL)